@font-face {
   font-family: 'Expo Arabic Bold';
   font-display: swap;
   src: url('file:///C:/Users/Programmer/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-08-20_110500/fonts/Expo%20Arabic%20Bold/font.ttf');
}
